@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:fu@bar.com">fu@bar.com</a><br />
    </address>

    <address>
    </address>
</div>